body {
  margin: 0px;
}

#player {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #323232;
}

#player:before {
  content: "";
  display: block;
  padding-top: 66%;
}

#playButton {
  width: 15%;
  max-width: 200px;
  cursor: pointer;
}

#Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fullscreenButton {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 32px;
  height: 32px;
}

#usernameInput {
  margin-left: 8px;
  width: 200px;
}

#audioSource {
  margin-left: 8px;
  max-width: 260px;
}

.inline-label {
  margin-left: 12px;
}
